<a href="https://colab.research.google.com/github/Karn2898/GenAI_Learning_Archive/blob/main/text_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub


path = kagglehub.dataset_download("goyaladi/twitter-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/goyaladi/twitter-dataset?dataset_version_number=2...

100%|██████████| 1.02M/1.02M [00:00<00:00, 56.1MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/goyaladi/twitter-dataset/versions/2

In [6]:
import pandas as pd
import os


print(os.listdir(path))


df = pd.read_csv(path + '/twitter_dataset.csv')
df.head()

['download.jpg', 'twitter_dataset.csv']

,Tweet_ID,Username,Text,Retweets,Likes,Timestamp
0,1,julie81,Party least receive say or single. Prevent pre...,2,25,2023-01-30 11:00:51
1,2,richardhester,Hotel still Congress may member staff. Media d...,35,29,2023-01-02 22:45:58
2,3,williamsjoseph,Nice be her debate industry that year. Film wh...,51,25,2023-01-18 11:25:19
3,4,danielsmary,Laugh explain situation career occur serious. ...,37,18,2023-04-10 22:06:29
4,5,carlwarren,Involve sense former often approach government...,27,80,2023-01-24 07:12:21

In [7]:
df.head()

,Tweet_ID,Username,Text,Retweets,Likes,Timestamp
0,1,julie81,Party least receive say or single. Prevent pre...,2,25,2023-01-30 11:00:51
1,2,richardhester,Hotel still Congress may member staff. Media d...,35,29,2023-01-02 22:45:58
2,3,williamsjoseph,Nice be her debate industry that year. Film wh...,51,25,2023-01-18 11:25:19
3,4,danielsmary,Laugh explain situation career occur serious. ...,37,18,2023-04-10 22:06:29
4,5,carlwarren,Involve sense former often approach government...,27,80,2023-01-24 07:12:21

In [9]:
df.shape

(10000, 6)

#LowerCase

In [12]:
df['Text'][13]

'Population way sport late strategy. Pay positive suffer second hair.\nTree price itself fire know building. House describe bar many it particularly safe. Site war make game. Real meeting around.'

In [14]:
df['Text']=df['Text'].str.lower()

## Remove html tags

In [22]:
import re
def remove_html_tags(text):
  pattern=re.compile('<./\>,*%#@!')
  return pattern.sub(r'', text)

<>:3: SyntaxWarning: invalid escape sequence '\>'
<>:3: SyntaxWarning: invalid escape sequence '\>'
/tmp/ipython-input-2610643375.py:3: SyntaxWarning: invalid escape sequence '\>'
  pattern=re.compile('<./\>,*%#@!')

In [23]:
df['Text']=df['Text'].apply(remove_html_tags)

In [24]:
df['Text'][1]

'hotel still congress may member staff. media draw buy fly. identify on another turn minute would.\nlocal subject way believe which question some message. own all imagine join agency indicate.'

# Remove url

In [25]:
def remove_url(text):
  pattern=re.compile(r'https?://\S+|www\.S+')
  return pattern.sub(r'',text)

In [26]:
text1 = 'Google search here www.google.com'
text2 = 'For data click https://www.kaggle.com/'

In [27]:
remove_url(text2)

'For data click '

#punctuation handling

In [28]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [29]:
exclude=string.punctuation
exclude

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
def remove_punc(text):
  for char in exclude:
    text=text.replace(char , '')
    return text

In [31]:

text = 'string. With. Punctuation?'